<div class="container py-4">
  <h1 class="mb-4">Edit Flat</h1>
  <%= render "form" %>

  <div class="mt-3">
    <%= link_to "Back", flat_path(@flat), class: "btn btn-outline-secondary" %>
    <%= link_to "Remove", flat_path(@flat), class: "btn btn-danger ms-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
</div>
